# Shared infra
POSTGRES_USER=medusa
POSTGRES_PASSWORD=change-me-strong-password

# Urban Compact
UC_STOREFRONT_URL=https://urban.hassansrour.me
UC_BACKEND_PUBLIC_URL=https://api-urban.hassansrour.me
UC_STORE_CORS=https://urban.hassansrour.me,http://urban.hassansrour.me
UC_ADMIN_CORS=https://api-urban.hassansrour.me,http://api-urban.hassansrour.me
UC_AUTH_CORS=https://api-urban.hassansrour.me,https://urban.hassansrour.me,http://api-urban.hassansrour.me,http://urban.hassansrour.me
UC_JWT_SECRET=change-me-uc-jwt
UC_COOKIE_SECRET=change-me-uc-cookie
UC_PUBLISHABLE_KEY=pk_replace_after_first_boot
UC_DEFAULT_REGION=dk

# Performance Street
PS_STOREFRONT_URL=https://street.hassansrour.me
PS_BACKEND_PUBLIC_URL=https://api-street.hassansrour.me
PS_STORE_CORS=https://street.hassansrour.me,http://street.hassansrour.me
PS_ADMIN_CORS=https://api-street.hassansrour.me,http://api-street.hassansrour.me
PS_AUTH_CORS=https://api-street.hassansrour.me,https://street.hassansrour.me,http://api-street.hassansrour.me,http://street.hassansrour.me
PS_JWT_SECRET=change-me-ps-jwt
PS_COOKIE_SECRET=change-me-ps-cookie
PS_PUBLISHABLE_KEY=pk_replace_after_first_boot
PS_DEFAULT_REGION=dk

# Certbot
CERTBOT_EMAIL=hassansrour099@gmail.com
